/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom Scrollbar Classes */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thumb-gray-600::-webkit-scrollbar-thumb {
  background-color: inherit;
  border-radius: 4px;
}

.scrollbar-thumb-gray-600:hover::-webkit-scrollbar-thumb {
  background-color: #888;
}

.scrollbar-track-gray-300::-webkit-scrollbar-track {
  background-color: inherit;
}

/* Ensure ordered lists have numbers */
.prose ul {
  list-style-type: disc; /* Keeps unordered lists as bullets */
}

.prose ol {
  list-style-type: decimal; /* Ensures ordered lists use numbers */
}

.prose ul,
.prose ol {
  list-style-position: inside;
  margin-left: 1.5rem;
  padding-left: 0;
}

.prose li {
  margin-bottom: 0.5rem;
}
